<!DOCTYPE html>
{% extends "base.html" %}
{% block title %}Welcome{% endblock %}

{% block head %}
{{ super() }}
<link href="../static/style_gallery_grid.css" rel="stylesheet">
{% endblock %}

{% block content %}
<!-- <div class="jumbotron"> -->
<div class="container">


    {% for image_row in image_urls | batch(3, '&nbsp;') %}
    <div class="row">
        {% for img_url in image_row %}
        {% if img_url != "&nbsp;" %}
        <div class="col-lg-4 col-md-6 col-xs-12 thumb">
            <img class="img-responsive img-thumbnail" src=" {{img_url}}">
            <button type="button" type="button" onclick="window.location.href='{{ url_for('index') }}';"
                class="btn btn-warning btn-sm btn-block">View Image</button>
            <!-- {{img_url}} -->
        </div>
        {% endif %}
        {% endfor %}
    </div>
    {% endfor %}


</div>
<!-- </div> -->
{% endblock %}

</html>