<!DOCTYPE html>
{% extends "base.html" %}
{% block title %}Welcome{% endblock %}

{% block head %}
{{ super() }}
<link href="../static/style_gallery_grid.css" rel="stylesheet">
{% endblock %}

{% block content %}
<!-- <div class="jumbotron"> -->
<div class="container">

    {% if user != "" %}
    <div class="row">
        <ul class="pull-right">
            <li role="presentation" class="btn">
                <h5 class="pull-right">Welcome {{user}}</h5>
            </li>
            <li role="presentation" class="btn">
                <a href="{{url_for('logout')}}" class="btn btn-basic">Logout</a>
            </li>
        </ul>
    </div>
    <hr>
    {% endif %}
    {% for image_row in image_urls | batch(3, '&nbsp;') %}
    <div class="row">
        {% for img_url in image_row %}
        {% if img_url != "&nbsp;" %}
        <div class="col-lg-4 col-md-6 col-xs-12 thumb">
            <img class="img-responsive img-thumbnail" src=" {{img_url}}">
            <!-- <form action="" method="post">
                <button type="submit" name="detailer" type="button" onclick="window.location.href='{{ url_for('detailed_view', img_url=img_url) }}';"
                class="btn btn-warning btn-sm btn-block">View Image</button>
            </form> -->
            <button type="button" type="button"
                onclick="window.location.href='{{ url_for('detailed_view', img_url=img_url ) }}';"
                class="btn btn-primary btn-sm btn-block">View Image</button>
            <!-- <button type="button" type="button"
                onclick="window.location.href='{{ url_for('detailed_analysis', img_url=img_url ) }}';"
                class="btn btn-warning btn-sm btn-block">Analyze image</button> -->
            <!-- {{img_url}} -->
        </div>
        {% endif %}
        {% endfor %}
    </div>
    {% endfor %}


</div>
<!-- </div> -->
{% endblock %}

</html>