<!DOCTYPE html>
<html lang="en">

{% extends "base.html" %}
{% block title %}Upload files{% endblock %}

{% block head %}
{{ super() }}
<link href="../static/style_login.css" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container">
       
    <div class="jumbotron">
        <h1>Upload Your Image</h1>
        <p class="lead"></p>
        <form id="upload-image-form" method="POST" enctype="multipart/form-data">

            <div class="container">
                <label for="file-picker" class="btn btn-success text-center">Select image for upload</label>
                <input id="file-picker" type="file" name="user_image" style="display: none;">
            </div>

            <!-- SUBMIT FORM VALUES -->
            <button type="submit" name="aws" class="btn  btn-warning pull-right" formaction="{{ url_for('upload', service='aws', version='v1') }}">Upload
                via AWS S3</button>
            <button type="submit" name="dbx" class="btn  btn-info pull-right" formaction="{{ url_for('upload', service='dbx', version='v2') }}">Upload
                via DROPBOX</button>
        </form>

    </div>
</div>
{% endblock %}



</html>